<head>
    #if($title)
        <title>$title</title>
    #else
        <title>Wormsim</title>
    #end

    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="OpenWorm">
    <meta property="og:title" content="A Digital Organism In Your Browser" />
    <meta property="og:description" content="OpenWorm is building the first complete simulation of an entire organism and bringing it to your web browser.  You can benefit from a tremendous amount of open access research and three years of effort to build a model of the worm within the OpenWorm project.  Your browser will receive a streamed version of the latest simulation as if you were watching a movie on Netflix, but you are alsoable to interact with it, explore the simulation dynamically in 3D, and look at the activity of individual cells." />
    <meta property="og:image" content="http://wormsim.org/resources/images/wormsim-logo.png" />
    <meta property="og:url" content="http://wormsim.org" />

    <meta property="url" content="http://wormsim.org" />
    <meta property="image" content="http://wormsim.org/resources/images/wormsim-worm-logos.png" />
    <meta property="title" content="A Digital Organism In Your Browser" />
    <meta property="description" content="OpenWorm is building the first complete simulation of an entire organism and bringing it to your web browser.  You can benefit from a tremendous amount of open access research and three years of effort to build a model of the worm within the OpenWorm project.  Your browser will receive a streamed version of the latest simulation as if you were watching a movie on Netflix, but you are alsoable to interact with it, explore the simulation dynamically in 3D, and look at the activity of individual cells." />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--TODO: Un-hardwire the bundle name-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="resources/images/favicon.png"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
