<!DOCTYPE html>
<html lang="en">
    #set($title = "Wormsim")
    #parse("templates/head.vm")

<body>

    <video autoplay loop preload="auto" class="video-playing" id="video-bg">
        <source src="resources/videos/worm-loc-out.mp4" type="video/mp4">
        <source src="resources/videos/worm-loc-out.webm" type="video/webm">
    </video>

    #parse("templates/navHeader.vm")

        <div class="simulation-nav well">

            <h2>Welcome to WormSim</h2>

            <p>
                Get notified when the WormSim becomes available for public access!
            </p>

            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Enter your email">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">Submit</button>
                </span>
            </div>
        </div>

    #parse("templates/loginModal.vm")
</body>
</html>