<div class="header-container">
    <div class="container">
        <div class="header">

            <div class="wormsim-logo pull-left"></div>

            #if($user)
            <button type="button" class="btn btn-danger btn-large dropdown-toggle pull-right" href="/logout">
                    Log out
                </button>
            #else
                <button type="button" class="btn btn-danger btn-large dropdown-toggle pull-right" data-toggle="modal"
                        data-target="#login-modal">
                    Login
                </button>
            #end

        </div>
    </div>
</div>