<!DOCTYPE html>
<html lang="@lang().code()">
    #set($title = "Wormsim")
	<head>
    #if($title)
        <title>$title</title>
    #else
        <title>Wormsim</title>
    #end

    <!-- Le meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!--TODO: Un-hardwire the bundle name-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <link rel="stylesheet/less" type="text/css" href="/resources/less/main.less" />
    <script src="resources/js/vendor/less-1.7.5.min.js" type="text/javascript"></script>
    
    <!-- USE THIS IN PRODUCTION <link rel="stylesheet" href="/resources/css/main.css">-->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
    

  <body class="user-home">

       <div class="wormsim-logo pull-left"></div>
        <button id="logoutBtn" type="button" class="btn btn-danger btn-large dropdown-toggle pull-right" >
        	Log out
   		</button>
        <div class="worminfocontainer">
            <div id="slide-one" class="slide-one">
                <h1 style="font-size: 5vw;">Hi and welcome!</h1><br/><br/>
                <h2 style="font-size: 2.5vw;">
                    That's me under the spotlight.</br>
                    I am a model of the C. elegans,</br>
                    a tiny worm!
                </h2>
            </div>

            <div id="slide-two" class="slide-two">
                <h1 style="font-size: 3vw; text-align: center">
                    First of all, before I start teaching you some of the biology of the worm 
                    I would really appreciate if you could pick a nice color for my cuticle,
                    I never liked being transparent!
                </h1>
                <br/><br/>
                <div id="container-circles">
                    <div class="circle" onclick="colorChange(0)" id="color1" style="background:#ff4000; cursor:pointer"></div>
                    <div class="circle" onclick="colorChange(1)" id="color2" style="background:#ff7e00; cursor:pointer"></div>
                    <div class="circle" onclick="colorChange(2)" id="color3" style="background:#f6ff00; cursor:pointer"></div>            
                    <div class="circle" onclick="colorChange(3)" id="color4" style="background:#6fe100; cursor:pointer"></div>
                    <div class="circle" onclick="colorChange(4)" id="color5" style="background:#00d4e1; cursor:pointer"></div>
                    <div class="circle" onclick="colorChange(5)" id="color6" style="background:#3e63ff; cursor:pointer"></div>
                    <div class="circle" onclick="colorChange(6)" id="color7" style="background:#b123f5; cursor:pointer"></div>
                </div>
            </div>

            <div id="slide-three" class="slide-three">
                <h1 style="color:white; text-align: center;vertical-align: middle;font-size: 2.5vw;">
                    Thanks, much better! Now I'm afraid I have a last favour to ask,
                    it's not that I don't fancy being called C. elegans and all but imagine
                    if everyone called you Homo Sapiens, not super cool right?
                    Go ahead and give me a cute name! <br/>
                    
                    <span style="text-align: center;"><input style="font-size:3vw;width:100%;text-align: center;" id="worm-name-input" type='text' value="Spock" onchange="wormNameChange(this.value)" /></span>
                </h1>
            </div>

            <div id="slide-four" class="slide-four">
                <h1 style="color:white; text-align: center;vertical-align: middle;font-size: 2.5vw;">
                    <span id="worm-name-confirmed" style="font-family: 'alice_in_wonderlandregular';font-size: 4vw;with:auto">Spock</span><br/>
                    WOW, look at me, I am probably the fanciest C. elegans the world has ever seen, thank you for the nice touch!
                    <span id="worm-name-confirmed-2"></span> and <span id="userSurnameDisplay"></span>, I like the sound of it!<br/>
                    What do you say buddy?
                </h1>
            </div>

            <div class="worm-model-container" id="worm-model-container" style="opacity: 0.4;filter: alpha(opacity=40);z-index: 100"></div>

            <a id="right-arrow" onclick="prevSlide()" class='left' href="#"><div class="hov-class"> < </div></a>
            <a id="left-arrow" onclick="nextSlide()" class='right' href="#"><div class="hov-class" id="nextSlideSymbol"> > </div></a>
        </div>
        
        <!-- TODO: refactor all this scripts from down here and put them into head -->
		<script src="/resources/js/vendor/three.js"></script>
		<script src="/resources/js/vendor/ColladaLoader.js"></script>
		<script src="/resources/js/vendor/Detector.js"></script>
		<script src="/resources/js/vendor/TrackBallControls.js"></script>
		<script src="/resources/js/vendor/FlyControls.js"></script>
		<script src="/resources/js/cuticle.js"></script>
		<script src="/resources/js/vendor/TransformControls.js"></script>
		<script src="/resources/js/vendor/OrbitControls.js"></script>
		<script src="/resources/js/vendor/tween.min.js"></script>
        <script>
        	var usernameFromServer = "${user.firstName}";
        </script>
        <script src="/resources/js/wormInfo.js"></script>
    </body>
</html>
