<!DOCTYPE html>
<html lang="@lang().code()">
    #set($title = "Wormsim Set Info")
	#parse("templates/head.vm")
    
<style>
.flex-center-right {
  float:right;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width:40%;
  resize: vertical;
  overflow: auto;
  margin-top:200px;
  z-index:100;
}
.flex-center p {
  margin: 0;
  padding: 20px;
}
</style>
<body class="user-home" style="background:black">

 	#parse("templates/navHeader.vm")
	

    <div class="flex-center-right"> 
    <p>
    <h1 style="color:white">Hi and welcome!</h1>
    <h2 style="color:white">
    	That's me under the spotlight.</br>
    	I am a model of the C. elegans,</br>
    	a tiny worm!
    </h2>
    </p>
    </div>
    
    <div class="worm-model-container" id="worm-model-container" style="opacity: 0.4;filter: alpha(opacity=40);"></div>
    
    <script src="/org.wormsim.frontend/resources/js/vendor/three.js"></script>
    <script src="/org.wormsim.frontend/resources/js/vendor/ColladaLoader.js"></script>
    <script src="/org.wormsim.frontend/resources/js/vendor/Detector.js"></script>
    <script src="/org.wormsim.frontend/resources/js/vendor/TrackBallControls.js"></script>
    <script src="/org.wormsim.frontend/resources/js/cuticle.js"></script>

    
</body>
</html>
