<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wormsim Set Info</title>

		<!-- Le meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
		
		<script src="https://code.createjs.com/tweenjs-0.6.0.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="https://code.createjs.com/tweenjs-0.6.0.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/resources/js/vendor/three.js"></script>
		<script src="/resources/js/vendor/ColladaLoader.js"></script>
		<script src="/resources/js/vendor/Detector.js"></script>
		<script src="/resources/js/vendor/TrackBallControls.js"></script>
		<script src="/resources/js/vendor/FlyControls.js"></script>
		<script src="/resources/js/vendor/TransformControls.js"></script>
		<script src="/resources/js/vendor/OrbitControls.js"></script>
		
		<!--TODO: Un-hardwire the bundle name-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href="/resources/css/unsemantic-grid-responsive.css" rel="stylesheet" type="text/css"/>
		<link rel="stylesheet" href="/resources/css/main.css">
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body class="wormsim-bg">

		<div class="grid-container clearfix">
			<div id="logoutBtn" type="button" class="btn btn-danger btn-large dropdown-toggle pull-right" style="position:absolute;z-index:9999;right:0px">	
				Log out
			</div>
			<div class="simulation-container grid-60  grid-parent">
				<div class="wormsim-logo logo-sim-fix pull-left grid-100 logo-fix"></div>
				<div class="clear"></div>

				<div class="worm-canvas " style="text-align: center">
					<div class="rotated-text">
						<span id="worm-name">$user.wormName</span> <span id="worm-mm" style="font-family:helvetica_neueregular;">1 mm</span>
					</div>

					<div class="worm-canvas-circle">
						<div class="length-bar" id="length-bar">
							<div class="worm-length" id="worm-length"></div>
						</div>
						<div class="top-buttons">
							<div class="round-button-multiplier grid-50 plus-button" >
								<div id="increase-size-btn" class="round-button-circle " style="cursor:pointer">
									<span>+</span>
								</div>
							</div>
							<div class="round-button-multiplier grid-50 minus-button">
								<div id="decrease-size-btn" class="round-button-circle " style="cursor:pointer">
									<span>-</span>
								</div>
							</div>
						</div>
						<div class="worm-render" id="worm-in-circle">
						</div>


					</div>
				</div>

				<div class="bottom-buttons">
					<div class="round-button grid-25" >
						<div id="skinButton" class="round-button-circle" style="cursor:pointer">
							<span>Skin</span>
						</div>
					</div>
					<div class="round-button grid-25">
						<div id="musclesButton" class="round-button-circle " style="cursor:pointer">
							<span>Muscles</span>
						</div>
					</div>
					<div class="round-button grid-25">
						<div id="neuronsButton" class="round-button-circle " style="cursor:pointer">
							<span>Neurons</span>
						</div>
					</div>
				</div>
			</div>

			<div class="simulation-type grid-40 ">
				<div class="sim-font middle-text">
					Hello $user.firstName
				</div>
				<div class="row middle-text">
					<div class="col-md-1 col-sm-1">
						<i class="fa fa-angle-left fa-4x" id="prevArrow"></i>
					</div>
					<div class="col-md-10 col-sm-10">
						<div class="sim-font" id="textSnippet">
							Explore my simulations and learn where the magic comes from!
						</div>
					</div>
					<div class="col-md-1 col-sm-1">
						<i class="fa fa-angle-right fa-4x" id="nextArrow"></i>
					</div>
				</div>

				<div class="buttons-container">
					<a href="/org.geppetto.frontend/geppetto?load_project_from_id=6" class="category-button">Simplified nervous system</a>
					<a href="/org.geppetto.frontend/geppetto?load_project_from_url=SERVER_ROOT/appdata/wormsim/wormsim-project.json" class="category-button">Muscular system</a>
				</div>
			</div>
		</div>
		
		<!-- TODO: refactor out these scripts from down here and move into head -->
		<script>
		// declare vars here so they are visible everywhere
		var wormColor = "${user.wormColor}";
		var progressValue,
			minHeight,
			$incrementSteps;
		var camera,
			scene,
			dae,
			renderer,
			controls,
			topLight,
			bottomLight,
			$container,
			rotate;
		</script>
		<script src="/resources/js/userHome.js"></script>
		<script src="/resources/js/worm-zoom.js"></script>
	</body>
</html>
