<div class="modal fade" id="worm-info-modal" tabindex="-1" role="dialog" aria-labelledby="wormInfoLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="wormInfoLabel">Your Worm Settings</h4>
            </div>
            <div class="modal-body">
                <form method="POST" id="worm-info-form">

                    <p>Name of your worm:</p>
                    <div class="form-group">
                        <input type="text" name="wormName" value="#if($user.wormName) $user.wormName #end" class="form-control input-lg" autocomplete="off"
                               placeholder="">
                        <span class="help-block"></span>
                    </div>

                    <p>Color of your worm:</p>
                    <div class="input-group color-picker">
                        <input type="text" name="wormColor" value="#if($user.wormColor) $user.wormColor #else #33FF33 #end" class="form-control" placeholder="#33FF33" />
                        <span class="input-group-addon"><i></i></span>
                    </div>

                    <div class="worm-info alert alert-danger" role="alert" style="display:none;"><strong>Error: </strong>Invalid
                        name or color
                    </div>

                    <div class="form-group submit-group row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-lg" id="worm-info-submit" data-loading-text="Saving...">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/org.wormsim.frontend/resources/js/wormInfo.js"></script>
<script src="/org.wormsim.frontend/resources/js/vendor/bootstrap-colorpicker.min.js"></script>

<script>
    $(function() {
        $('.color-picker').colorpicker();
    });
</script>

<link href="/org.wormsim.frontend/resources/css/bootstrap-colorpicker.min.css" rel="stylesheet">
