<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>geppetto</title> 
		
		<script data-main="js/main.js" src="js/vendor/require.js"></script>
				
		<!-- CSS -->
		<link rel="stylesheet" href="css/custom-theme/jquery-ui-1.10.0.custom.css" />
		<link rel="stylesheet" href="css/font-awesome.css" />
		<link rel="stylesheet" href="css/codemirror.css" />
		<link rel="stylesheet" href="css/lesser-dark.css" />
		<link rel="stylesheet" href="css/jsConsole.css" />
		<link rel="stylesheet" href="css/main.css" />
                <link rel="icon" type="image/png" href="images/favicon.png"/>
	</head>	
	<body>
            
        <div id="modal-region"></div>

        <div>
            <img src="images/welcomebckg.png" width="1" height="1" alt="" style="display:none;" />
            <img src="images/welcomebckg@2x.png" width="1" height="1" alt="" style="display:none;"/>
        </div>
        <div id="controls">

            <div id="sim-toolbar" class="row"></div>

			<div id="camera-controls"></div>
            
                <!-- Used for popovers, otherwise they would be too small to display -->
            
            <div id="github">
                <a href="https://github.com/openworm/org.geppetto" target="_blank"><icon class="icon-github icon-2x" id="git"></icon></a>
            </div>
        </div>

        <div id="mainContainer">
            <div id="sim"></div>

            <div id="footer">
                <div id="footerHeader">
                    <div id="geppettologo"></div>
                    <div id="consoleButtonContainer">
                        <button class="btn" data-clipboard-target="clipboard_text" id="consoleButton">
                            <icon class="icon-terminal"></icon>
                            Console
                        </button>
                    </div>

                    <div id="console">Console Loading...</div>
                </div>
            </div>
        </div>
        <div id="shareTab">
            <button class="btn" id="share">
                <icon class="icon-share icon-xlarge"></icon>
            </button>
        </div>
        <div id="geppetto-share" class="col-md-1 share-panel">
            <p>
                <a class="btn btn-warning" onclick="G.shareOnFacebook()">
                    <i class="icon-xlarge icon-facebook"></i></a></p>
            <p><a class="btn btn-warning" onclick="G.shareOnTwitter()"><i class="icon-xlarge icon-twitter"></i></a></p>
                <!-- Commented until fully implemented <p><a class="btn btn-warning" href="#email"><i class="icon-xlarge icon-envelope"></i></a><p>-->
        </div>

            <!-- The sandbox template: -->
        <script type="text/template" id="tplSandbox">
            <div class="output"></div>
            <div class="input">
        	<textarea rows="1" id="commandInputArea" placeholder="<%= placeholder %>"></textarea>
            </div>
        </script>

            <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
            <!--  Don't change space, templates are sensitive to white spacing -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><div><span class="command"><%= command %></span></div>
<div><span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span></div>
<% } %></script>

        <script type="text/template" id="tplDebug"><span class="<%= _class %>"><%= result %></span></script>
    </body>
</html>
